- const iconCls = iconClass;
ul(class=`${listClass}`)
  li(class=`${itemClass}`)
    a(href='https://facebook.com' target='_blank' rel='noreferrer' class=`${linkClass}` aria-label='Facebook')
      include icons/facebook
  li(class=`${itemClass}`)
    a(href='https://twitter.com' target='_blank' rel='noreferrer' class=`${linkClass}` aria-label='Twitter')
      include icons/twitter
  li(class=`${itemClass}`)
    a(href='https://instagram.com' target='_blank' rel='noreferrer' class=`${linkClass}` aria-label='Instagram')
      include icons/instagram
