include facebook
include twitter
include instagram

mixin social-links
  ul.socials
    li
      a.socials__link(
        href='https://facebook.com'
        target='_blank'
        rel='noreferrer'
        aria-label='Facebook'
      )
        +facebookIcon('socials__icon')
    li
      a.socials__link(
        href='https://twitter.com'
        target='_blank'
        rel='noreferrer'
        aria-label='Twitter'
      )
        +twitterIcon('socials__icon')
    li
      a.socials__link(
        href='https://instagram.com'
        target='_blank'
        rel='noreferrer'
        aria-label='Instagram'
      )
        +instagramIcon('socials__icon')
