extends seo

block content
  - const { heading, subheading, text, subscription, benefits } = content;
  .wrapper
    .offer
      h2.offer_heading.heading= heading
      section.offer_product
        h3.subheading.subheading-accent= subheading
        p.offer_productText.text= text
      .offer_container
        section.offer_subscription
          h3.subheading= subscription.heading
          div
            .offer_price
              span= subscription.price[0]
              | #{subscription.price[1]}
          p.offer_subscriptionText.text.text-light.text-lg
            | #{subscription.text}
          button.button= subscription.button
        section.offer_benefits
          h3.subheading= benefits.heading
          ul.offer_benefitsList.text.text-light.text-sm
            each item in benefits.list
              li: p= item
