extends includes/seo

block content
  main.content
    h1.heading= content.heading
    input#pricing.srOnly(type='checkbox' checked)
    label.switch(for='pricing')
      span.switch_inner
      span.srOnly= content.switchLabel
    ul.plans
      each plan, i in content.plans
        -
          const { name, monthlyPrice, storage, users, limit } = plan;
          const annualPrice =
            Math.floor(monthlyPrice * content.annualPriceFactor) + 0.99;
        li.offer(class=`${i === 1 ? "offer-highlighted" : ""}`)
          h2.offer_heading= name
          strong.offer_price(data-monthly=monthlyPrice data-annual=annualPrice)
          ul.list
            li.list_item: p= storage
            li.list_item: p= users
            li.list_item: p= limit
          button.btn(class=`${i === 1 ? "btn-inverse" : ""}`)= content.cta
