extends ../../../includes/layout

block variables
  - const title = "Pricing component with toggle";

block fonts
  +googleFonts([ 'family=Montserrat:wght@700&display=swap&text=Our%20PicngAalyMothBs%241950GSe2Uwdp3LERN4T.', ])

block content
  -
    const plans = [
      ['Basic',        19.99, '500 GB',  2,  3],
      ['Professional', 24.99, '1 TB',    5, 10],
      ['Master',       39.99, '2 TB',   10, 20],
    ];
  main.content
    h1.heading Our pricing
    input#pricing.srOnly(type='checkbox' checked)
    label.switch(for='pricing')
      span.switch_inner
      span.srOnly Check for monthly, uncheck for annually prices
    ul.plans
      each offer, i in plans
        - const [plan, monthly, storage, users, send] = offer;
        - const annually = Math.floor(monthly * 10) + 0.99;
        li.offer(class=`${i === 1 ? "offer-highlighted" : ""}`)
          h2.offer_heading #{plan}
          strong.offer_price(
            data-monthly=`${monthly}`
            data-annually=`${annually}`
          )
          ul.list
            li.list_item: p #{storage} Storage
            li.list_item: p #{users} Users Allowed
            li.list_item: p Send up to #{send} GB
          button.btn(class=`${i === 1 ? "btn-inverse" : ""}`) Learn more
