extends includes/seo

block content
  .layout
    .layout__bg
    header.layout__header.header
      img.logo(src='images/logo.svg' alt='Base Apparel logo')
    .layout__image
      include includes/hero-image
    main.layout__content.content
      .content__heading
        h1
          span We're
          br
          | coming soon
      .content__text
        p.
          Hello fellow shoppers! We're currently building our new fashion store
          Add your email below to stay up-to-date with announcements and our
          launch deals.
      .content__subscribe
        form.subscribe(novalidate)
          .subscribe__container
            label
              span.sr-only Enter email to subscribe
              input.subscribe__email(
                type='email'
                name='email'
                placeholder='Email Address'
                aria-describedby='feedback'
              )
            .subscribe__error-icon
            button.subscribe__submit(type='submit' aria-label='Submit')
          #feedback.subscribe__feedback(
            aria-live='polite'
            aria-relevant='additions removals'
            aria-atomic='true'
          )
