include facebook
include twitter
include instagram

mixin socialLinks(listCls, itemCls, linkCls, iconCls)
  ul(class=listCls)
    li(class=itemCls)
      a(
        href='https://facebook.com'
        target='_blank'
        rel='noreferrer'
        class=linkCls
        aria-label='Facebook'
      )
        +facebookIcon(iconCls)
    li(class=itemCls)
      a(
        href='https://twitter.com'
        target='_blank'
        rel='noreferrer'
        class=linkCls
        aria-label='Twitter'
      )
        +twitterIcon(iconCls)
    li(class=itemCls)
      a(
        href='https://instagram.com'
        target='_blank'
        rel='noreferrer'
        class=linkCls
        aria-label='Instagram'
      )
        +instagramIcon(iconCls)
